/* * {
    border: solid red 1px;
} */

html {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    width: 400px;
    background-color: lightcyan;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px black;
}

.row {
    flex: 1;
    display: flex;
    height: 50px;
    gap: 3px;
    justify-content: flex-end;
}

.display {
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.03);
}

.btn-op {
    background-color: orange;
    color: white;
}

.btn-op:active {
    background-color: darkorange;
}

.btn-num,
.btn-decimal {
    background-color: gray;
    color: white;
}

.btn-num:active,
.btn-decimal:active {
    background-color: black;
}

.btn-clear,
.btn-delete {
    background-color: lightgray;
}

.btn-clear:active,
.btn-delete:active {
    background-color: gray;
}

#btn-0 {
    flex: 2.35;
}